server {
	server_name blog.${NGINX_HOST};
	listen 443 ssl;
	listen  [::]:443 ssl;
    ssl_certificate    /etc/nginx/ssl/live/newthread.run/fullchain.pem;
    ssl_certificate_key    /etc/nginx/ssl/live/newthread.run/privkey.pem;

	location / {
		root /var/www/blog/;
		index index.html index.htm;
		add_header Cache-Control public;
	}
	access_log /var/log/nginx/blog.access.log;
	error_log /var/log/nginx/blog.error.log warn;
}
