server {
	server_name spelling.${NGINX_HOST};
	listen 443 ssl;
	listen  [::]:443 ssl;
    ssl_certificate    ${SSL_CERT};
    ssl_certificate_key    ${SSL_KEY};

	location / {
		root /var/www/word-spelling/;
		index index.html index.htm;
		add_header Cache-Control public;
	}
	access_log /var/log/nginx/spelling.access.log;
	error_log /var/log/nginx/spelling.error.log warn;
}
